/* General GLOBAL SERVICLEAN css */

/*
  The logo of the site.
*/
.logo {
  display: inline-block;
  background-image: url('./../img/logo_horizontal_megasmall.png');
  background-repeat:no-repeat;
  background-position:center; 
  width: 218px;
  height: 30px;
}

/*
  Custom alteration of the nav.
*/
.nav-custom {
  margin-top: 10px;
}

/*
  Custom alteration of the nav.
*/
.nav-section {
  float: left;
}

/*
  Custom alteration of the nav.
*/
.nav-ul-margin {
  margin-left: 20px;
  margin-bottom: 0px;
}

/*
  CSS alter for each nav option
*/
.nav-option {
  font-weight: bold;
}

/*
  Background to the carousel section.
*/
.carousel-custom {
  margin-top: 5px;
  background-color: #F3F3F3;
  border-top: solid 1px #E6E6E6;
  border-bottom: solid 1px #E6E6E6;
  height: 350px;
}

/*
  Customizable thumbnails.
*/
.thumbnails-custom {
  margin-top: 20px;
}

/*
  Customizable thumbnails.
*/
.thumbnail-custom {
  text-align: center;
}

/*
  Quotes
*/
.blockquote-custom {
  padding: 20px 0 20px 0;
  text-align: center;
  font-style: italic;
  color: #828282;
}