/* General GLOBAL SERVICLEAN css */

html, body {
  height: 100%;
}
footer {
  padding: 10px 0 10px 0;
  background-color: #F3F3F3;
  border-top: solid 1px #E6E6E6;
}

/*
  The logo of the site.
*/
.logo {
  display: inline-block;
  background-image: url('./../img/logo_horizontal_megasmall.png');
  background-repeat:no-repeat;
  margin-top: 3px;
  width: 218px;
  height: 30px;
}

/*
  Custom alteration of the nav.
*/
.nav-custom {
  margin-top: 10px;
}

/*
  FLOATS
*/
.nav-section, .div-float, .icon-chevron-left {
  float: left;
}
.icon-chevron-right {
  float: right;
}

/*
  Custom alteration of the nav.
*/
.nav-ul-margin {
  margin-left: 20px;
  margin-bottom: 0px;
}

/*
  CSS alter for each nav option
*/
.nav-option {
  font-weight: bold;
}

/*
  Background to the carousel section.
*/
.carousel-custom {
  margin-top: 5px;
  background-color: #F3F3F3;
  border-top: solid 1px #E6E6E6;
  border-bottom: solid 1px #E6E6E6;
  height: 350px;
}
/*
  Adjust position of carousel.
*/
.carousel-margin {
  margin-top: 19px; 
}
/*
  Customizable thumbnails.
*/
.thumbnails-custom {
  margin-top: 20px;
}

/*
  Customizable thumbnails.
*/
.thumbnail-custom {
  text-align: center;
}

/*
  Quotes
*/
.blockquote-custom {
  padding: 20px 0 20px 0;
  text-align: center;
  font-style: italic;
  color: #828282;
}

/*
  Quotes
*/
.footer-custom {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #F3F3F3;
  border-top: solid 1px #E6E6E6;
}

/*
  Wrapper magic fro sticky footer
*/
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px; /* same as the footer */
}

/*
  Wrapper magic fro sticky footer
*/
.push {
    height: 80px; /* same as the footer */
}

.services-custom {
  margin-top: 30px;
  margin-left: 11px;
}

/*
  SERVICES Clases:.
*/
.sidenav-margin {
  margin-top: 30px; 
}
/*
  Social net icons position
*/
.socialnet-icons {
  float: right;
  margin-top: 10px; 
}
.social-margin {
  margin-right: 7px; 
}

.service-description {
  
  margin-top: 30px; 
  margin-left: 260px; 
}

.presupuestobtn-position {
  margin-top: 45px; 
  margin-left: 14px; 
}