/*
GLOBAL SITE CSS
*/

#logo {
  background-image: url('./../img/logo_horizontal_megasmall.png');
  background-repeat:no-repeat;
  width: 161px;
  height: 22px;
}

a, a:visited {
  color: rgb(255, 112, 0);
}

a:hover {
  color: rgb(255, 51, 0);
}

.navbar-inner {
  background-color: #fff; /* fallback color, place your own */

  /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(top, rgb(242, 251, 255), #fff);
  background-image: -ms-linear-gradient(top, rgb(242, 251, 255), #fff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(242, 251, 255)), to(#fff));
  background-image: -webkit-linear-gradient(top, rgb(242, 251, 255), #fff);
  background-image: -o-linear-gradient(top, rgb(242, 251, 255), #fff);
  background-image: linear-gradient(top, rgb(242, 251, 255), #fff);
  background-repeat: repeat-x;

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(242, 251, 255)', endColorstr='#fff', GradientType=0);
}

.navbar .nav li a {
  color: #0088CC;
  font-size: 15px;
  font-weight: bold;
}

.navbar .nav li a:hover {
  color: rgb(255, 177, 11);
  font-size: 15px;
  font-weight: bold;
}

.nav-location, .nav {
  height: 100%;
  vertical-align: middle;
}

/*
  Footer
*/
* {
  margin: 0;
}

html, body {
height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -6em;
}

.footer, .push {
  height: 6em;
}

.footer {
  background-color: #F3F3F3;
}

.footer .footer-custom {
  border-top: #ccc solid 1px;
}

.footer .footer-social-network li {
  opacity: 0.35;
}

.footer .footer-social-network li:hover {
  opacity: 1;
}