/*
  Services page css
*/

.icon-service {
  background-image: url('./../img/services/difusor.png');
  background-repeat:no-repeat;
  background-position: center center;
  width: 23px;
  height: 42px;
}

.side-bar {
  
  background-color: #fff; /* fallback color, place your own */

  /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(top, rgb(242, 251, 255), #fff);
  background-image: -ms-linear-gradient(top, rgb(242, 251, 255), #fff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(242, 251, 255)), to(#fff));
  background-image: -webkit-linear-gradient(top, rgb(242, 251, 255), #fff);
  background-image: -o-linear-gradient(top, rgb(242, 251, 255), #fff);
  background-image: linear-gradient(top, rgb(242, 251, 255), #fff);
  background-repeat: repeat-y;

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(242, 251, 255)', endColorstr='#fff', GradientType=0);
}

.service-header {
  color: #999;
  border-bottom: #0088CC solid 5px;
}

.service .service-img {
  padding: 20px;
}

.service, .service-form {
  margin-bottom: 25px;
}

.service-top {
  background-color: #F8F8F8;
  width: 100%;
  padding: 5px;
}

.btn-request, .btn-request:hover, .btn-request:active, .btn-request:visited {
  color: #fff;
  font-weight: bold;
}

.service-form .header {
  background-color: #0088CC;
  color: #fff;
  font-weight: bold;
  padding: 5px;
}
.service-form .body {
  padding: 10px;
}
