/*
GLOBAL SITE CSS
*/

#logo {
  background-image: url('./../img/logo_horizontal_mid.png');
  background-repeat:no-repeat;
  width: 164px;
  height: 55px;
}

/*
  Footer
*/
* {
  margin: 0;
}

html, body {
  height: 100%;
  background-color: #FFFFFF;
}

nav, .logo-container {
  padding: 15px 0 15px 0;
}

nav li a {
  color: #FFFFFF;
  font-weight: bold;
}

.logo-container {
  background-color: #F4F4F4;
}

.alt-container {
  background-color: #666; 
}

.nav-container {
  background-color: #3B83BB; /* fallback color, place your own */

  /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(top, #012F53, #3B83BB);
  background-image: -ms-linear-gradient(top, #012F53, #3B83BB);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#012F53), to(#3B83BB));
  background-image: -webkit-linear-gradient(top, #012F53, #3B83BB);
  background-image: -o-linear-gradient(top, #012F53, #3B83BB);
  background-image: linear-gradient(top, #012F53, #3B83BB);
  background-repeat: repeat-x;

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#012F53', endColorstr='#3B83BB', GradientType=0);
}

.footer-container{
  background-color: #012F53;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -12em;
}

.footer, .push {
  height: 12em;
}

.footer {
  padding: 20px 10px 0 10px;
  color: #A5C2CD;
}

.footer a {
  color: #FFF;
}

.footer a:hover {
  color: #FFA200;
  text-decoration: none;
  transition: color 0.2s linear, background-color 0.2s linear;
}

.footer .hr {
  background-color: #FFF;
  opacity: 0.05;
  height: 4px;
  margin: 5px 0 20px 0;
}

.footer .footer-social-network li {
  opacity: 0.5;
}

.footer .footer-social-network li:hover {
  opacity: 1;
}

.content {
  background-color: #FFF;
  padding: 20px;
}

.full-height {
  height: 100%;
}

.new-tag {
  margin-top: 20px;
}

.text-justified {
  text-align: justify;
}

.panel-budget {
  border-color: #FFA200;
}

.panel-budget .panel-heading {
  color: #FFF;
  background-color: #FFA200;
  border-color: #FFA200;
}

.share {
  float: right;
  width: 39px;
  height: 39px;
  background-repeat:no-repeat;
  background-position: center;
}

.share:hover {
  cursor: pointer;
  background-repeat:no-repeat;
  background-position: center;
}

.share-twitter {
  background-image: url('./../img/share/share_twitter.png');
}

.share-twitter:hover {
  background-image: url('./../img/share/share_twitter_hover.png');
}

.share-facebook {
  background-image: url('./../img/share/share_facebook.png');
}

.share-facebook:hover {
  background-image: url('./../img/share/share_facebook_hover.png');
}

.share-gplus {
  background-image: url('./../img/share/share_gplus.png');
}

.share-gplus:hover {
  background-image: url('./../img/share/share_gplus_hover.png');
}

.share-linkedin {
  background-image: url('./../img/share/share_linkedin.png');
}

.share-linkedin:hover {
  background-image: url('./../img/share/share_linkedin_hover.png');
}